<p>
<span class="credit">Thanks to <a href="http://octopress.org" target="_blank">Octopress</a></span>, 
<a href="http://aws.amazon.com/" target="_blank">AWS</a>, 
<a href="http://glyphicons.com/glyphicons-licenses/" target="_blank">Glyphicons</a>, 
<a href="http://www.fontsquirrel.com/fonts/ostrich-sans" target="_blank">Ostrich Sans</a>, 
<a href="http://www.fontsquirrel.com/fonts/Colaborate" target="_blank">Colaborate</a>.
</p>
<p>
&copy; <a href="/about">Will Combs</a> {{ site.time | date: "%Y" }}
</p>
<a href="https://twitter.com/combsw" target="_blank">
<img src="/images/glyphicons_391_twitter_t.png" border="0" style="padding-top:.75em;border:none;max-width:100%;" title="@combsw on Twitter" alt="@combsw on Twitter" /></a>
<a href="https://github.com/wcombs" target="_blank">
<img src="/images/glyphicons_381_github.png" border="0" style="border:none;max-width:100%;" title="wcombs on Github" alt="wcombs on Github" /></a>
<a href="/atom.xml" target="_blank">
<img src="/images/glyphicons_397_rss.png" border="0" style="border:none;max-width:100%;" title="rss" alt="rss" /></a>
